@{
}
<!-- Modal Update My Password -->
<div id="update-my-password-modal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Đặt lại mật khẩu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="my-2">
                    <div class="form-group">
                        <label class="form-label" for="content">Mật khẩu cũ: (<span class="text-danger">*</span>)</label>
                        <div class="position-relative password-wrap mb-3">
                            <input id="update-my-password-password" name="password" type="password" class="form-control pe-5 password-input" placeholder="Nhập mật khẩu">
                            <button title="Xem/ẩn mật khẩu" onclick="updateMyPasswordStatus(1)" class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-eye" type="button">
                                <i id="eye-open" class="fa-solid fa-eye align-middle"></i>
                                <i id="eye-close" class="fa-solid fa-eye-slash align-middle d-none"></i>
                            </button>
                        </div>
                        <label class="form-label" for="content">Mật khẩu mới: (<span class="text-danger">*</span>)</label>
                        <div class="position-relative password-wrap mb-3">
                            <input id="update-my-new-password-password" name="password" type="password" class="form-control pe-5 password-input" placeholder="Nhập mật khẩu">
                            <button title="Xem/ẩn mật khẩu" onclick="updateMyPasswordStatus(2)" class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-eye" type="button">
                                <i id="eye-new-open" class="fa-solid fa-eye align-middle"></i>
                                <i id="eye-new-close" class="fa-solid fa-eye-slash align-middle d-none"></i>
                            </button>
                        </div>
                        <label class="form-label" for="content">Nhập lại mật khẩu: (<span class="text-danger">*</span>)</label>
                        <div class="position-relative password-wrap mb-3">
                            <input id="update-my-renew-password-password" name="password" type="password" class="form-control pe-5 password-input" placeholder="Nhập mật khẩu">
                            <button title="Xem/ẩn mật khẩu" onclick="updateMyPasswordStatus(3)" class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-eye" type="button">
                                <i id="eye-renew-open" class="fa-solid fa-eye align-middle"></i>
                                <i id="eye-renew-close" class="fa-solid fa-eye-slash align-middle d-none"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" onclick="updateMyPassword()" id="btn-update-my-password" class="btn btn-primary">Cập nhật</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var hidePassword = true;
    var hideNewPassword = true;
    var hideRenewPassword = true;

    function showUpdateMyPasswordModal() {
        $("#update-my-password-modal").modal("show");
    }

    function updateMyPassword() {
        var password = $("#update-my-password-password").val();
        var newPassword = $("#update-my-new-password-password").val();
        var renewPassword = $("#update-my-renew-password-password").val();

        var list = [
            { 'value': password, 'name': 'mật khẩu cũ' },
            { 'value': newPassword, 'name': 'mật khẩu mới' },
            { 'value': renewPassword, 'name': 'nhập lại mật khẩu' },
        ];

        var verifies = verify(list);

        if (verifies.length != 0) {
            showMessage('warning', 'Vui lòng nhập ' + verifies.join(', ') + '!');
            return;
        }

        if (newPassword != renewPassword) {
            showMessage('warning', 'Nhập lại mật khẩu không chính xác!');
            return;
        }

        postJsonApiExplicit(
            '/api/admin/user/update-my-password',
            {
                password: password,
                newPassword: newPassword,
            },
            // Success: function (data) {}
            function (data) {
                if (data != null) {
                    window.location.reload();
                } else {
                    showMessage('error', 'Có lỗi phát sinh, không thể cập nhật mật khẩu!');
                }
                $("#update-my-password-modal").modal("hide");
            },
            // Warning: function(textMessage, data) {}
            // Error: function(message) {}
            // Error Api function() {}
        );
    }

    // 1: password; 2: newPassword; 3: renewPassword
    function updateMyPasswordStatus(type) {
        if (type == 1) {
            if (hidePassword) {
                hidePassword = false;
                turnOnPassword('');
                return;
            }
            hidePassword = true;
            turnOffPassword('');
        } else if (type == 2) {
            if (hideNewPassword) {
                hideNewPassword = false;
                turnOnPassword('-new');
                return;
            }
            hideNewPassword = true;
            turnOffPassword('-new');
        } else if (type == 3) {
            if (hideRenewPassword) {
                hideRenewPassword = false;
                turnOnPassword('-renew');
                return;
            }
            hideRenewPassword = true;
            turnOffPassword('-renew');
        }
    }

    function turnOffPassword(type) {
        $("#update-my" + type + "-password-password").attr("type", "password");
        $("#eye" + type + "-open").toggleClass('d-none');
        $("#eye" + type + "-close").toggleClass('d-none');
    }

    function turnOnPassword(type) {
        $("#update-my" + type + "-password-password").attr("type", "text");
        $("#eye" + type + "-open").toggleClass('d-none');
        $("#eye" + type + "-close").toggleClass('d-none');
    }
</script>