@{
}
<!-- Modal Update Password -->
<div id="update-password-modal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Đặt mật khẩu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="id" value="" id="update-password-id" autocomplete="off" />
                <div class="my-2">
                    <div class="form-group">
                        <label class="form-label" for="content">Tên đăng nhập: </label>
                        <input type="text" class="form-control" name="name" value="" id="update-password-username" autocomplete="off" disabled />
                    </div>
                </div>
                <div class="my-2">
                    <div class="form-group">
                        <label class="form-label" for="content">Mật khẩu: (<span class="text-danger">*</span>)</label>
                        <div class="position-relative password-wrap mb-3">
                            <input id="update-password-password" name="password" type="password" class="form-control pe-5 password-input" placeholder="Nhập mật khẩu">
                            <button id="password-eye" title="Xem/ẩn mật khẩu" onclick="updatePasswordStatus()" class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-eye" type="button">
                                <i id="eye-open" class="fa-solid fa-eye align-middle"></i>
                                <i id="eye-close" class="fa-solid fa-eye-slash align-middle d-none"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" onclick="updatePassword()" id="btn-update-password" class="btn btn-primary">Cập nhật</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var hidePassword = true;

    function showUpdatePasswordModal(id, username) {
        $("#update-password-username").val(username);
        $("#update-password-id").val(id);
        $("#update-password-modal").modal("show");
    }

    function updatePassword() {
        var username = $("#update-password-username").val();
        var id = $("#update-password-id").val();
        var password = $("#update-password-password").val();

        postJsonApiExplicit(
            '/api/admin/user/update-password',
            {
                id: id,
                password: password,
            },
            // Success: function (data) {}
            function (data) {
                if (data != null) {
                    window.location.reload();
                } else {
                    showMessage('error', 'Có lỗi phát sinh, không thể cập nhật mật khẩu!');
                }
                $("#update-password-modal").modal("hide");
            },
            // Warning: function(textMessage, data) {}
            // Error: function(message) {}
            // Error Api function() {}
        );
    }

    function updatePasswordStatus() {
        if (hidePassword) {
            turnOnPassword();
            return;
        }
        turnOffPassword();
    }

    function turnOffPassword() {
        hidePassword = true;
        $("#update-password-password").attr("type", "password");
        $("#eye-open").toggleClass('d-none');
        $("#eye-close").toggleClass('d-none');
    }

    function turnOnPassword() {
        hidePassword = false;
        $("#update-password-password").attr("type", "text");
        $("#eye-open").toggleClass('d-none');
        $("#eye-close").toggleClass('d-none');
    }
</script>