.lb-body > .row {
    height: 100%;
}

.list-control {
    background-color: #f1f7fe;
    position: relative;
    height: 100%;
}

.list-control-wrap {
    width: 100%;
    overflow: scroll;
}

.list-data {
    background-color: #dde5f4;
    position: relative;
    height: 100%;
}

.list-data-wrap {
    width: 100%;
    overflow: scroll;
}

@media only screen and (max-width: 992px) {
    .list-control {
        position: initial;
        background-color: #f1f7fe;
        height: initial;
    }

    .list-control-wrap {
        height: initial;
        overflow: initial;
    }

    .list-data {
        position: initial;
        background-color: #dde5f4;
        height: initial;
    }

    .list-data-wrap {
        height: initial;
        overflow: initial;
    }
}

#btn-search {
    border: none;
    border-radius: 1.5rem;
    height: 2.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #18A2DD;
    padding: .25rem 1.5rem;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

#btn-search:hover {
    background-color: #CB2474;
}

.btn-search-wrap {
    text-align: center;
}

#btn-search:focus {
}

#btn-search i {
    font-size: 1rem;
    color: white;
}

.td-image img {
    width: 9rem;
    height: 6rem;
}

table > tbody > tr > td {
    vertical-align: middle;
}

.check-item {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.check-item + label {
    border-radius: 0.375rem!important;
    margin-right: .5rem;
    margin-top: .5rem;
}

input.check-item[type=checkbox] + label {
    display: none;
}

input.check-item[type=checkbox]:checked + label {
    display: block;
}

[class^="item-td-"]:not(.item-td-createdDate) {
    border-radius: 0.375rem;
    color: white;
    font-weight: 500;
    padding: .3rem .5rem;
    display: inline-block;
}

[class^="item-td-"]:not(.item-td-link,.item-td-createdDate) {
    white-space: nowrap;
}

.item-td-createdDate {
    padding: .3rem .5rem;
    color: black;
    font-weight: 500;
}

.item-td-link {
    text-decoration: none;
    color: black!important;
}

.item-td-Highlight {
    background-color: #CB2474;
}

.item-td-Draft, .item-td-sent {
    background-color: gray;
}

.item-td-Active, .item-td-added, .item-td-processed, .item-td-false, .item-td-False {
    background-color: #18A2DD;
}

.item-td-InActive, .item-td-expired, .item-td-refused, .item-td-true, .item-td-True {
    background-color: #FF8F28;
}

.item-td-Removed, .item-td-removed {
    background-color: #000000;
}


.item-td-type {
    background-color: #18A2DD;
}

.item-td-project {
    background-color: #FF8F28;
}

.item-td-market {
    background-color: #18A2DD;
}

.item-td-apartment {
    background-color: #18A2DD;
}

.item-td-ground {
    background-color: #FF8F28;
}

.item-td-resort-real-estate {
    background-color: #275E29DD;
}

.item-td-villa {
    background-color: #0d6efd;
}

.item-td-implemented {
    background-color: #275E29DD;
}

.item-td-implementing {
    background-color: #0d6efd;
}

.item-td-address {
    background-color: #CB2474;
}

.item-td-order {
    background-color: gray;
}
