html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #dde5f4;
}

.reset-password {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reset-password-form {
    border-radius: 1rem;
    background-color: #f1f7fe;
}

#btn-reset-password {
    background-color: #FF8F28;
    border: none;
    font-weight: 600;
    border-radius: 1rem;
}

.logo {
    width: 100%;
    text-align: center;
}

#reset-password-logo {
    width: 5rem;
}

.reset-password-title p {
    font-size: 1.75rem;
    font-weight: 700;
    color: #18A2DD;
    text-align: center;
}

input:focus {
    outline: none!important;
}

.form-control:focus {
    border-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn:focus {
    outline: none !important;
    border-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}