@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<p class="layout-title">
    Danh sách người dùng
</p>

<div class="row flex-grow-1 lb-body">
    <div class="position-absolute top-50 start-0 text-center translate-middle-y">
        DashBoard Index
    </div>
</div>