<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <title>Quên mật khẩu - BDS Hot</title>

    <link rel="icon" type="image/x-icon" href="~/shared/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="~/libs/jquery/jquery.js"></script>
    <script src="~/libs/bootstrap/js/bootstrap.js"></script>

    <link rel="stylesheet" href="~/libs/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/libs/font-awesome/css/all.min.css">

    <link rel="stylesheet" href="~/shared/css/font.css" />
    <link rel="stylesheet" href="~/admin/css/auth.css" />
    <link rel="stylesheet" href="~/shared/css/loader.css" />

</head>
<body>

    <div class="container auth">
        <div class="auth-wrap row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 auth-form-wrap">
                <div class="auth-form p-4 p-sm-5">
                    <div class="logo mb-3">
                        <img id="auth-logo" title="Logo của BDS Hot" alt="Hình ảnh logo của BDS Hot" src="/shared/images/logo/logo-md.png" />
                    </div>
                    <div class="auth-title mb-3">
                        <p>Quên mật khẩu</p>
                    </div>
                    <form action="" method="post" id="form-forgot-password" autocomplete="off">
                        @Html.AntiForgeryToken()
                        <div class="mb-3">
                            <input id="username" name="username" type="text" class="form-control" placeholder="Nhập tên đăng nhập" />
                        </div>
                        @* <div class="mb-3 d-flex flex-column justify-content-between align-items-center">
                            <p class="otp-text mb-3"> Nhập OTP</p>
                            <div class="d-flex">
                                <input id="otp-1" class="otp-item" name="otp" type="text" maxlength="1" />
                                <input id="otp-2" class="otp-item" name="otp" type="text" maxlength="1" />
                                <input id="otp-3" class="otp-item" name="otp" type="text" maxlength="1" />
                                <input id="otp-4" class="otp-item" name="otp" type="text" maxlength="1" />
                                <input id="otp-5" class="otp-item" name="otp" type="text" maxlength="1" />
                                <input id="otp-6" class="otp-item" name="otp" type="text" maxlength="1" />
                            </div>
                        </div>

                        <button type="button" title="Gửi lại OTP" onclick="resendOtp()" class="resend-otp mb-2">Chưa nhận được OTP? Gửi lại ngay!</button>
 *@
                        <p class="mb-2 fst-italic forgot-password-note">Sau khi gửi yêu cầu, hãy vào email để nhận liên kết đổi lại mật khẩu <strong>lưu ý không chia sẻ liên kết với bất kỳ ai.</strong></p>
                        <div class="mt-3">
                            <button id="btn-forgot-password" title="Gửi yêu cầu" type="button" name="btn-forgot-password" class="btn btn-auth w-100">Gửi yêu cầu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Loader -->
    <div id="loader" class="d-none">
        <div class="loader-wrap">
            <div class="loader-circle"></div>
        </div>
    </div>

    <script type="text/javascript">

        // function sentOtpSucess() {

        // }

        // function sendOtp() {
        //     $.ajax({
        //         url: '/api/admin/auth/forgot-password',
        //         type: 'POST',
        //         data: $("#form-forgot-password").serialize(),//dataJson,
        //         datatype: 'json',
        //         beforeSend: loading,
        //         complete: loaded,
        //         success: function (data) {
        //             // error response
        //             if (data.message.type != 0) {
        //                 // do something if error
        //                 return;
        //             }
        //             // success response
        //             // do something if success
        //             countResend();
        //         },
        //         error: function (xhr, textStatus, errorThrown) {
        //             // error api
        //             // do something if error
        //             alert(xhr.responseText);
        //         },
        //     });
        // }

        $(document).on('keypress', function (e) {
            if (e.which == 13) {
                forgotPassword();
            }
        });

        $("#btn-forgot-password").click(function (event) {
            forgotPassword();
        });
    
        function forgotPassword() {
            $.ajax({
                url: '/api/admin/auth/forgot-password',
                type: 'POST',
                data: $("#form-forgot-password").serialize(),//dataJson,
                datatype: 'json',
                beforeSend: function () {
                    loading();
                },
                complete: function () {
                    loaded();
                },
                success: function (data) {
                    // error response
                    if (data.message.type != 0) {
                        // do something if error
                        alert(data.message.name);
                        return;
                    }
                    // success response
                    // do something if success
                    window.location.href = '/admin'
                },
                error: function (xhr, textStatus, errorThrown) {
                    // error api
                    // do something if error
                    alert(xhr.responseJSON.name);
                },
            });
        }

        // function countResend() {

        // }        
        
        // var ctrlDown = false;
        // var keyCtrl = 17;
        // var keyCmd = 91;
        // var keyV = 86;
        // var keyC = 67;
        // var key0 = 48;
        // var key9 = 57;
        // $(".otp-item").keydown(function (e) {
        //     console.log(e);
        //     var code = e.keyCode;

        //     if (code == keyV && ctrlDown) {
        //         navigator.clipboard.readText()
        //             .then(text => {
        //                 console.log('Pasted content: ', text);
        //             })
        //             .catch(err => {
        //                 console.error('Failed to read clipboard contents: ', err);
        //             });
        //     }

        //     ctrlDown = code == keyCmd || code == keyCtrl;
        // });
        // $(".otp-item").keyup(function(e) {
        //     var code = e.keyCode;
        //     if (key0 <= code && code <= key9) {
        //         var id = e.target.id;
        //         e.target.value = e.key;
        //         var num = parseInt(id.split('-')[1]);
        //         if (num < 6) {
        //             num++;
        //             $("#otp-" + num).focus();
        //         }
        //     } else {
        //         e.target.value = "";
        //     }

        //     if (code == 8) {
        //         var id = e.target.id;
        //         var num = parseInt(id.split('-')[1]);
        //         if (num > 1) {
        //             num--;
        //             $("#otp-" + num).focus();
        //         }
        //     }
        // })
    </script>
    <script src="~/shared/js/loader.js"></script>
</body>
</html>

