<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <title>Đặt mật khẩu - BDS Hot</title>

    <link rel="icon" type="image/x-icon" href="~/shared/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="~/libs/jquery/jquery.js"></script>
    <script src="~/libs/bootstrap/js/bootstrap.js"></script>

    <link rel="stylesheet" href="~/libs/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/libs/font-awesome/css/all.min.css">

    <link rel="stylesheet" href="~/shared/css/font.css" />
    <link rel="stylesheet" href="~/admin/css/auth.css" />
    <link rel="stylesheet" href="~/shared/css/loader.css" />

</head>
<body>

    <div class="container auth">
        <div class="auth-wrap row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 auth-form-wrap">
                <div class="auth-form p-4 p-sm-5">
                    <div class="logo mb-3">
                        <img id="auth-logo" title="Logo của BDS Hot" alt="Hình ảnh logo của BDS Hot" src="/shared/images/logo/logo-md.png" />
                    </div>
                    <div class="auth-title mb-3">
                        <p>Đặt mật khẩu</p>
                    </div>
                    <form action="" method="post" id="form-reset-password" autocomplete="off">
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="token" name="token" />
                        <input type="hidden" id="username" name="username" />
                        <div class="mb-3">
                            <input id="password" name="password" type="password" class="form-control" placeholder="Nhập mật khẩu mới" />
                        </div>
                        <div class="mb-3">
                            <input id="re-password" type="password" class="form-control" placeholder="Nhập lại mật khẩu" />
                        </div>

                        <p class="mb-2 fst-italic reset-password-note"><strong>Lưu ý: Mật khẩu phải từ 8 ký tự bao gồm chữ hoa, chữ thường, số và ký tự đặc biệt (@@,$,!,%,*,?,&).</strong></p>
                        <div class="mt-3">
                            <button id="btn-reset-password" title="Gửi yêu cầu" type="button" name="btn-reset-password" class="btn btn-auth w-100" disabled>Xác nhận</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Loader -->
    <div id="loader" class="d-none">
        <div class="loader-wrap">
            <div class="loader-circle"></div>
        </div>
    </div>

    <script src="~/shared/js/loader.js"></script>
    <script type="text/javascript">

        $(document).on('keypress', function (e) {
            if (e.which == 13) {
                resetPassword();
            }
        });

        var urlParams = new URLSearchParams(window.location.search);
        $("#username").val(urlParams.get("username"));
        $("#token").val(urlParams.get("token"));

        $("#btn-reset-password").click(function (event) {
            resetPassword();
        });

        function resetPassword() {
            $.ajax({
                url: '/api/admin/auth/reset-password',
                type: 'POST',
                data: $("#form-reset-password").serialize(),//dataJson,
                datatype: 'json',
                beforeSend: function () {
                    loading();
                },
                complete: function () {
                    loaded();
                },
                success: function (data) {
                    // error response
                    if (data.message.type != 0) {
                        // do something if error
                        alert(data.message.name);
                        return;
                    }
                    // success response
                    // do something if success
                    window.location.href = '/admin'
                },
                error: function (xhr, textStatus, errorThrown) {
                    // error api
                    // do something if error
                    alert(xhr.responseJSON.name);
                },
            });
        }

        function checkValidPassword(password) {
            const regex = new RegExp('^(?=.*[A-Z])(?=.*[a-z])(?=.*\\d)(?=.*[@@$!%*?&])[A-Za-z\\d@@$!%*?&]{8,}$');
            return regex.test(password);
        }

        $("#password").keyup(function () {
            var rePassword = $("#re-password");
            if (!$(this).val()) {
                $(this).removeClass("input-border-invalid");
                $(this).removeClass("input-border-valid");
                if (!rePassword.val() == false) {
                    rePassword.removeClass("input-border-valid");
                    rePassword.addClass("input-border-invalid");
                }
            } else {
                if (checkValidPassword($(this).val())) {
                    $(this).removeClass("input-border-invalid");
                    $(this).addClass("input-border-valid");
                    if (!rePassword.val() == false) {
                        if ($(this).val() == rePassword.val()) {
                            rePassword.removeClass("input-border-invalid");
                            rePassword.addClass("input-border-valid");

                            $("#btn-reset-password").prop("disabled", false);
                            return;
                        } else {
                            rePassword.removeClass("input-border-valid");
                            rePassword.addClass("input-border-invalid");
                        }
                    }
                } else {
                    $(this).removeClass("input-border-valid");
                    $(this).addClass("input-border-invalid");
                    if (!rePassword.val() == false) {
                        rePassword.removeClass("input-border-valid");
                        rePassword.addClass("input-border-invalid");
                    }
                }
            }

            $("#btn-reset-password").prop("disabled", true);
        });

        $("#re-password").keyup(function () {
            var password = $("#password");
            if (!$(this).val()) {
                $(this).removeClass("input-border-invalid");
                $(this).removeClass("input-border-valid");
            } else {
                if (checkValidPassword(password.val()) && $(this).val() == password.val()) {
                    $(this).removeClass("input-border-invalid");
                    $(this).addClass("input-border-valid");

                    $("#btn-reset-password").prop("disabled", false);
                    return;
                } else {
                    $(this).removeClass("input-border-valid");
                    $(this).addClass("input-border-invalid");
                }
            }

            $("#btn-reset-password").prop("disabled", true);
        });

    </script>
</body>
</html>

